*{
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: sans-serif;
    transition: backgound-color 0.9s ease, color 0.5s ease;
}

body{
    background-color: var(--bgcolor);
}

@media(min-width:1100px) and (max-width: 1450px){
body>.btn>a{
    font-size: 185%;
  }
   body>#b2{
    padding-right: 1%;
    height: 24vh;
  }
}

@media(max-width:450px){
  .apres>.titulo{
    font-size: 300%;
    margin-top: 10%;
    margin-bottom: 20%;
  }
  body>#footer{
    font-size: 100%;
  }
  body>.btn{
    width: 40%;
    height: 9vh;
  }
  body>#b2{
    height: 12vh;
  }
  body>.btn>a{
    font-size: 100%;
  }
  .voltar{
    width: 280%;
    font-size: 50%;
    margin-left: -100%;
    margin-bottom: 60%;
  }
}

@media (min-width:735px) and (max-width:900px){
 .botoes{
    font-size: 24%;
      width:102%;
      padding-right: 9.2%;
      margin-bottom: 24%;
  }
  .apres>.titulo{
    font-size: 300%;
    margin-top: 10%;
    margin-bottom: 20%;
  }
  body>#footer{
    font-size: 100%;
  }
  body>.btn{
    width: 40%;
    height: 9vh;
    height: 12vh;
  }
  body>.btn>a{
    font-size: 100%;
  }
  
  .voltar{
    width: 280%;
    font-size: 50%;
    margin-left: -100%;
    margin-bottom: 30%;
  }
}

:root{
  --bgcolor: #FD6D20;
  --fontecolor: #FD6D20;
  --bgbotoes:white;
  --voltar:black;
}

.darkmode{
 --bgcolor: #BC4200;
 --fontecolor: #BC4200;
 --bgbotoes:black;
 --voltar:white;
}

.titulo{
    font-size: 700%;
}

.apres{
    display: flex;
    align-content: center;
    color: var(--bgbotoes);
    justify-self: center;
    text-align: center;
    margin-top: -3%;
}

.btn{
    background-color: var(--bgbotoes);
    width: 22%;
    height: 19vh;
    display: flex;
    justify-content: center;
    justify-self: center;
    text-align: center;   
    margin-top: 0.5%;
    margin-right: 70%;
    border-radius: 15px;
    padding-left: 1%;
    transition: 0.5s;
}

.btn>a{
    width: 100%;
    height: 19vh; 
    text-decoration: none;
    color: var(--fontecolor);
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 900;
    padding-top: 10%;
}

#b1{
    margin-left: 70%;
    margin-top: 5%;
}

#b2{
    margin-left: 10%;
    margin-top: 5%;
}

#b3{
    margin-left: 125%;
    margin-top: -5%;
}

#b1:hover,
#b2:hover,
#b3:hover {
  transform: translateY(-60px);
  transition: transform 0.5s;
}


.voltar{
    display: flex;
    justify-content:center ;
    margin-top: 3%;
}

.voltar>a{
    background-color: var(--bgbotoes);
    width: 10%;
    font-size: 200%;
    font-weight: bolder;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    color: var(--fontecolor);
    line-height: 50px;
    font-weight: bolder;
}

.voltar>a:hover{
  color: var(--voltar);
}

.toggle-switch {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 40px;
    overflow: hidden; 
    margin-left: 80%;
    margin-top: 1%;
  }
  
  .toggle-switch input {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   background-image: url(sunbgg.png);
    border-radius: 34px;
    transition: 0.4s;
  }

  .slider:before {
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 5px;
    background-color: rgb(252, 207, 9); 
    border-radius: 50%;
    transition: 0.4s;
  }

  .toggle-switch input:checked + .slider::before   {
    background-color: rgb(0, 0, 0); 
  }
  
  .toggle-switch input:checked + .slider {
    background-image: url(moonbg.png);
  }
  
  .toggle-switch input:checked + .slider:before {
    transform: translateX(46px);
  }
  
  .mode-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 80px;
    top: 0;
    left: 0;
    transition: transform 0.4s;
  }
  
  .sun-icon,
  .moon-icon {
    font-size: 24px;
    transition: opacity 0.4s;
    position: absolute;
    top: 4px;
    opacity: 1;
  }
  
  .moon-icon {
    right: 4px;
  }
  
  .visible {
    opacity: 1;
  }
  
  .sun-icon {
    left: -18px;
  }

#footer{
  font-size: 48px;
  font-weight: bolder;
 text-align: center;
 margin-top: 15%;
 color: var(--bgbotoes);
}

