*{
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: sans-serif;
    transition: backgound-color 0.9s ease, color 0.5s ease;
}

@media(min-width:1100px) and (max-width: 1450px){
  .botoes{
    font-size: 80%;
  }
  body>.apres{
    margin-left: 20%;
  }
}

@media(max-width:450px){
  .botoes{
    font-size: 24%;
      width:102%;
      padding-right: 9.2%;
      margin-bottom: 24%;
  }
  .apres>.nome{
    font-size: 300%;
    padding-right:40%;
  }
  .apres>.ola{
    font-size: 200%;
    margin-right: 15%;
  }
  body>#footer{
    font-size: 100%;
  }
}

@media (min-width:735px) and (max-width:900px){
 .botoes{
    font-size: 44%;
    min-width: 110%;
  }
  body>div{
 padding-right: 20%;
  }
  .github{
    padding-left: 20%;
  }
}

body{
    background-color: var(--bgcolor);
    
}

:root{
  --bgcolor: #FD6D20;
  --fontecolor: #FD6D20;
  --bgbotoes:white;
--transition-duration: 600ms;
  --transition-bg: var(--bgcolor, #ffffff);
}
.darkmode{
 --bgcolor: #BC4200;
 --fontecolor: #BC4200;
 --bgbotoes:black;
}

.ola{
   font-size: 350%;
   transition: 0.3s;
}

.ola:hover{
  margin-top: -3%;
  margin-bottom: 3%;
  transition: 0.3s;
}

.nome{
    font-size: 700%;
    transition: 0.3s;
}
.nome:hover{
  margin-top: -3%;
  margin-bottom: 3%;
  transition: 0.3s;
}

@keyframes toActive {
  from {
    transform: translateY(900%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.nome{
  animation: toActive 1.8s ease-out 1;
}

@keyframes toActive2 {
  from {
    transform: translateY(300%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.ola{
  animation: toActive2 1.3s ease-out 1;
}

.apres{
    display: flex;
    align-content: center;
    color: var(--bgbotoes);
    margin-top: 13%;
    margin-left: 29.3%;
    text-align: center;

}

.botoes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    margin-left: 10%;
    margin-top: 13%;
}

.abtn{
transition: 0.5s;
}

#b1:hover{
  margin-top: -11%;
  transition: 0.5s;
}
#b2:hover{
  margin-top: -11%;
  transition: 0.5s;
}
#b3:hover{
  margin-top: -11%;
  transition: 0.5s;
}
#b4:hover{
  margin-top: -11%;
  transition: 0.5s;
}

.botoes>a{
    background-color: var(--bgbotoes);
    width: 55%;
    font-size: 200%;
    font-weight: bolder;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    color: var(--fontecolor);
    line-height: 50px;
    font-weight: bolder;
}

.toggle-switch {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 40px;
    overflow: hidden; 
    margin-left: 80%;
    margin-top: 1%;
  }
  
  .toggle-switch input {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   background-image: url(sunbgg.png);
    border-radius: 34px;
    transition: 0.4s;
  }

  .slider:before {
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 5px;
    background-color: rgb(252, 207, 9); 
    border-radius: 50%;
    transition: 0.4s;
  }

  .toggle-switch input:checked + .slider::before   {
    background-color: rgb(0, 0, 0); 
  }
  
  .toggle-switch input:checked + .slider {
    background-image: url(moonbg.png);
  }
  
  .toggle-switch input:checked + .slider:before {
    transform: translateX(46px);
  }
  
  .mode-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 80px;
    top: 0;
    left: 0;
    transition: transform 0.4s;
  }
  
  .sun-icon,
  .moon-icon {
    font-size: 24px;
    transition: opacity 0.4s;
    position: absolute;
    top: 4px;
    opacity: 1;
  }
  
  .moon-icon {
    right: 4px;
  }
  
  .visible {
    opacity: 1;
  }
  
  .sun-icon {
    left: -18px;
  }

.github{
    display: flex;
    justify-content: center;
    margin-top: 4%;
}

.github>a>svg{
    width: 200px;
    height: 106px;
}

#footer{
  font-size: 48px;
  font-weight: bolder;
 text-align: center;
 margin-top: 15%;
 color: var(--bgbotoes);
}